n8n/skysaver_workflow.json
{
  "name": "SkySaver \u2014 6h Flight Price Monitor",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Trigger Pipeline Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1/api/v1/scrape/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-SkySaver-Key",
              "value": "={{ $env.SKYSAVER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dry_run",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 720000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": false
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Pipeline Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Alerts Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 180],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.data.alerts_sent }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Send Success Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1280, 100],
      "parameters": {
        "chatId": "={{ $credentials.telegramApi.chatId }}",
        "text": "=\u2705 SkySaver pipeline completed\n\nRoutes checked: {{ $json.data.routes_attempted }}\nFares scraped: {{ $json.data.total_fares_scraped }}\nAlerts sent: {{ $json.data.alerts_sent }}\nDuration: {{ $json.data.duration_seconds }}s",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-id",
          "name": "Telegram API"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "No Alerts — Skip Telegram",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1280, 260],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1020, 460],
      "parameters": {
        "chatId": "={{ $credentials.telegramApi.chatId }}",
        "text": "=\u26a0\ufe0f SkySaver pipeline FAILED\n\nErrors: {{ $json.error }}\n\nTime: {{ $now }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-id",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Trigger Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Pipeline Run": {
      "main": [
        [
          {
            "node": "Pipeline Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Succeeded?": {
      "main": [
        [
          {
            "node": "Alerts Sent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerts Sent?": {
      "main": [
        [
          {
            "node": "Send Success Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alerts \u2014 Skip Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "createdAt": "2026-05-07T00:00:00.000Z",
      "updatedAt": "2026-05-07T00:00:00.000Z",
      "id": "tag-skysaver-001",
      "name": "skysaver"
    }
  ],
  "id": "wf-skysaver-6h-monitor",
  "meta": {
    "instanceId": "skysaver-n8n-instance"
  }
}
